main {
  margin: 24px 14px;
  min-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
}

main .header {
  height: 53px;
  margin: 0 26px;
}

main .header span {
  color: var(--text-primary);
  font-size: 14px;
}

.breadcrumbs {
  color: var(--text-secondary);
  font-size: 12px;
}

.breadcrumbs .white {
  color: var(--text-primary);
  font-size: 12px;
}

main .footer {
  color: var(--text-secondary);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: auto;
}

main .footer span {
  color: var(--text-primary);
}

.content {
  margin: 22px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}