@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-primary: white;
  --text-secondary: #a0aec0;
  --surface-clr: rgba(0, 0, 0, 0.3);
  --accent-primary: #1a1f37;
  --accent-secondary: #0075ff;
  --accent-tertiary: #060b28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.dashboard-header {
    height: 53px;
    margin: 0 16px;
}

.dashboard-header span {
    color: var(--text-primary);
    font-size: 14px;
}

.breadcrumbs {
    color: var(--text-secondary);
    font-size: 12px;
}

.breadcrumbs .twelve {
    color: var(--text-primary);
    font-size: 12px;
}

main {
  margin: 24px;
  min-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
}

.main-footer {
  color: var(--text-secondary);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.main-footer span {
  color: var(--text-primary);
}

.main-footer a {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 14px;
}

.main-footer a.active {
  color: var(--text-primary);
}

.main-footer a:hover {
  color: var(--text-primary)
}

.main-footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.content {
  margin: 22px 0;
  min-height: 500px;
  height: auto;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.card {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: var(--surface-clr);
  backdrop-filter: blur(10px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card * {
  width: 100%;
  color: var(--text-primary);
}

.card p {
  color: var(--text-secondary);
}