<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sidebar.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/app.js') }}"
      defer
    ></script>
  </head>
  <body>
    <!-- Sidebar -->
    <nav class="sidebar">
      <!-- Logo -->
      <div class="logo">
        <span>C R Y P T O S E A L</span>
      </div>
      <!-- Line -->
      <div class="line1"></div>
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <!-- Dashboard -->
        <li class="{% block dashboard_active %}{% endblock %}">
          <a href="{{ url_for('index') }}">
            <div class="icon-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#1f1f1f"
              >
                <path
                  d="M418-340q24 24 62 23.5t56-27.5l224-336-336 224q-27 18-28.5 55t22.5 61Zm62-460q59 0 113.5 16.5T696-734l-76 48q-33-17-68.5-25.5T480-720q-133 0-226.5 93.5T160-400q0 42 11.5 83t32.5 77h552q23-38 33.5-79t10.5-85q0-36-8.5-70T766-540l48-76q30 47 47.5 100T880-406q1 57-13 109t-41 99q-11 18-30 28t-40 10H204q-21 0-40-10t-30-28q-26-45-40-95.5T80-400q0-83 31.5-155.5t86-127Q252-737 325-768.5T480-800Zm7 313Z"
                />
              </svg>
            </div>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- Symmetric -->
        <li class="{% block symmetric_active %}{% endblock %}">
          <button class="dropdown-btn" onclick="toggleSubMenu(this)">
            <div class="icon-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#1f1f1f"
              >
                <path
                  d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm0-80h480v-400H240v400Zm240-120q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80ZM240-160v-400 400Z"
                />
              </svg>
            </div>
            <span>Symmetric</span>
            <svg
              class="arrow-icon"
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#1f1f1f"
            >
              <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </button>
          <ul class="sub-menu {% block symmetric_show %}{% endblock %}">
            <div>
              <li><a href="#">Algo 1</a></li>
              <li><a href="#">Algo 2</a></li>
              <li><a href="#">Algo 3</a></li>
            </div>
          </ul>
        </li>
        <li class="{% block asymmetric_active %}{% endblock %}">
          <button onclick="toggleSubMenu(this)" class="dropdown-btn">
            <div class="icon-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#1f1f1f"
              >
                <path
                  d="M280-400q-33 0-56.5-23.5T200-480q0-33 23.5-56.5T280-560q33 0 56.5 23.5T360-480q0 33-23.5 56.5T280-400Zm0 160q-100 0-170-70T40-480q0-100 70-170t170-70q67 0 121.5 33t86.5 87h352l120 120-180 180-80-60-80 60-85-60h-47q-32 54-86.5 87T280-240Zm0-80q56 0 98.5-34t56.5-86h125l58 41 82-61 71 55 75-75-40-40H435q-14-52-56.5-86T280-640q-66 0-113 47t-47 113q0 66 47 113t113 47Z"
                />
              </svg>
            </div>
            <span>Asymmetric</span>
            <svg
              class="arrow-icon"
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#1f1f1f"
            >
              <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </button>
          <ul class="sub-menu {% block asymmetric_show %}{% endblock %}">
            <div>
              <li><a href="#">Algo 1</a></li>
              <li><a href="#">Algo 2</a></li>
            </div>
          </ul>
        </li>
        <li class="{% block hashing_active %}{% endblock %}">
          <button onclick="toggleSubMenu(this)" class="dropdown-btn">
            <div class="icon-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#1f1f1f"
              >
                <path
                  d="m240-160 40-160H120l20-80h160l40-160H180l20-80h160l40-160h80l-40 160h160l40-160h80l-40 160h160l-20 80H660l-40 160h160l-20 80H600l-40 160h-80l40-160H360l-40 160h-80Zm140-240h160l40-160H420l-40 160Z"
                />
              </svg>
            </div>
            <span>Hashing</span>
            <svg
              class="arrow-icon"
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#1f1f1f"
            >
              <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </button>
          <ul class="sub-menu {% block hashing_show %}{% endblock %}">
            <div>
              <li><a href="#">Algo 1</a></li>
              <li><a href="#">Algo 2</a></li>
              <li><a href="#">Algo 3</a></li>
              <li><a href="#">Algo 4</a></li>
            </div>
          </ul>
        </li>
      </ul>
      <div class="documentation">
        <div class="icon-wrapper2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#1f1f1f"
          >
            <path
              d="M478-240q21 0 35.5-14.5T528-290q0-21-14.5-35.5T478-340q-21 0-35.5 14.5T428-290q0 21 14.5 35.5T478-240Zm-36-154h74q0-33 7.5-52t42.5-52q26-26 41-49.5t15-56.5q0-56-41-86t-97-30q-57 0-92.5 30T342-618l66 26q5-18 22.5-39t53.5-21q32 0 48 17.5t16 38.5q0 20-12 37.5T506-526q-44 39-54 59t-10 73Zm38 314q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"
            />
          </svg>
        </div>
        <div class="doc-text">
          <h5>Need help?</h5>
          <p>Please check our docs</p>
        </div>
        <a
          href="https://github.com/NebularEclipse/AC"
          target="_blank"
          class="doc-btn"
          ><span>DOCUMENTATION</span></a
        >
      </div>
    </nav>
    <main>
      <header class="dashboard-header">
        <nav class="breadcrumbs">Pages <span class="twelve">/ {% block page1 %}{% endblock %}<span></nav>
        <span>{% block page2 %}{% endblock %}</span>
      </header>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
      <footer class="main-footer">
        <div>&copy; 2025 <span>aBitLock Bros</span>. Released under the MIT License.</div>
        <nav>
          <ul>
            <li><a href="{{ url_for('gizmo.about') }}" class="{% block about_active %}{% endblock %}">About</a></li>
            <li><a href="{{ url_for('gizmo.license') }}" class="{% block license_active %}{% endblock %}">License</a></li>
          </ul>
        </nav>
      </footer>
    </main>
  </body>
</html>
